---
import Card from '@/components/retrowave/card.astro'
import Layout from '@/layouts/retrowave-layout.astro'
import { Image } from 'astro:assets'
import profileImage from '@/assets/retrowave-profile-image.jpg'
import SchoolFilled from '@/assets/school-filled.svg'
import FavoriteFilled from '@/assets/favorite-filled.svg'
import Button from '@/components/retrowave/button.astro'
---

<Layout>
  <main class="flex flex-1 flex-col gap-9">
    <h1
      data-text="About me"
      class="relative font-family-heading text-5xl sm:text-6xl"
    >
      About me
    </h1>
    <div class="flex flex-col gap-6 md:flex-row">
      <Card class="md:max-w-2xs lg:max-w-md">
        <div class="relative -mx-6 -mt-6">
          <Image
            src={profileImage}
            alt="Profile image of Koen Vercauteren"
            class="rounded-lg bg-[rgba(0,0,255,.4)]"
          />
          <h2
            class="absolute right-3 bottom-3 font-family-tertiary text-white uppercase"
          >
            <span>front-end</span>
            <br />
            <span>developer</span>
          </h2>
        </div>
        <p class="text-lg text-[rgba(255,255,255,.8)]">
          I believe great interfaces start with
          <b> empathy for the user</b>. That philosophy guides every decision I
          make, from layout and interaction to performance and accessibility.
        </p>
        <Button
          href="https://www.linkedin.com/in/koen-vercauteren"
          variant="secondary"
        >
          let's connect
        </Button>
      </Card>
      <div class="flex flex-1 flex-col gap-6">
        <Card class="flex-1">
          <div class="flex items-center gap-3">
            <SchoolFilled fill="white" />
            <h2 class="text-md font-family-tertiary text-white">Education</h2>
          </div>
          <span class="text-xl font-medium text-white">
            Bachelor in Applied Computer Science, Application Development
          </span>
          <p class="text-lg text-[rgba(255,255,255,.8)]">
            A <b>hands-on</b> educational track centered around analyzing, designing
            and building modern software applications. It emphasized
            <b> practical experience </b>with programming, databases and
            user-centered design, providing a solid foundation in both front-end
            and back-end development.
          </p>
        </Card>
        <Card>
          <div class="flex items-center gap-3">
            <FavoriteFilled fill="white" />
            <h2 class="text-md font-family-tertiary text-white">Interests</h2>
          </div>
          <div class="flex flex-wrap gap-2">
            <div class="test rounded-full px-3 py-1.5">
              <span class="font-semibold text-white">Video games</span>
            </div>
            <div class="test rounded-full px-3 py-1.5">
              <span class="font-semibold text-white">Calisthenics</span>
            </div>
            <div class="test rounded-full px-3 py-1.5">
              <span class="font-semibold text-white">Weight training</span>
            </div>
            <div class="test rounded-full px-3 py-1.5">
              <span class="font-semibold text-white">Music</span>
            </div>
          </div>
        </Card>
      </div>
    </div>
    <h2 class="font-family-heading text-3xl sm:text-4xl">
      Technologies & tools
    </h2>
  </main>

  <style lang="scss">
    b {
      color: white;
    }

    h1 {
      background: linear-gradient(
        to bottom,
        #ebf1f6 0%,
        #abd3ee 50%,
        #859ee2 51%,
        #d5ebfb 100%
      );

      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::before {
        background: none;
        content: attr(data-text);
        left: 0;
        position: absolute;
        text-shadow:
          1px -1px 0 rgba(255, 255, 255, 0.5),
          3px 1px 3px rgba(255, 0, 255, 0.85),
          -3px -2px 3px rgba(0, 0, 255, 0.85),
          1px -2px 0 rgba(255, 255, 255, 0.8);
        z-index: -1;
      }
    }

    .test {
      background: rgba(0, 0, 255, 0.4);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      border: 1px solid rgba(0, 0, 255, 0.7);
    }
  </style>
</Layout>
