@import "tailwindcss";

@theme {
  --color-background: #fef1e8;
  --color-primary: #fbdc00;
  --color-secondary: #71ccdf;
  --color-tertiary: #dff261;

  --font-family-heading: "Bricolage Grotesque", sans-serif;
  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Lexend Mega", sans-serif;

  --font-sans: var(--font-family-primary);
}

*::selection {
  background-color: var(--color-primary);
  color: white;
}

html {
  scrollbar-gutter: stable;
}
