---
import Layout from '@/layouts/main-layout.astro'
import { Image } from 'astro:assets'
---

<Layout>
  <main class="flex h-full flex-col gap-9">
    <div class="flex gap-6">
      <h1 class="font-family-heading text-6xl font-black">Experience</h1>
      <Image
        src="https://fonts.gstatic.com/s/e/notoemoji/latest/2728/512.gif"
        aria-hidden="true"
        alt=""
        width="96"
        height="96"
        class="size-[60px]"
      />
    </div>
  </main>
</Layout>
