---
import Layout from '@/layouts/main-layout.astro'
import Decoration1 from '@/assets/decoration-1.svg'
import Button from '@/components/button.astro'
import { Image } from 'astro:assets'
---

<Layout>
  <main class="h-full">
    <div class="flex h-full flex-col items-start justify-center gap-6">
      <div class="relative flex items-center gap-6">
        <Decoration1
          aria-hidden="true"
          class="absolute -top-[80px] -left-[90px]"
        />
        <h1 class="font-family-heading text-8xl font-black">I'm Koen</h1>
        <Image
          src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b/512.gif"
          aria-hidden="true"
          alt=""
          width="96"
          height="96"
        />
      </div>
      <p class="text-4xl font-medium">
        I turn ideas and pixels into memorable experiences on the web.
      </p>
      <div class="flex gap-3">
        <Button href="https://www.euri.com/en/contact">work with me</Button>
        <Button
          href="https://www.linkedin.com/in/koen-vercauteren"
          variant="secondary"
        >
          let's connect
        </Button>
      </div>
    </div>
  </main>
</Layout>
