---
import Layout from '@/layouts/neobrutalism-layout.astro'
import Decoration1 from '@/assets/decoration-1.svg'
import Button from '@/components/neobrutalism/button.astro'
import { Image } from 'astro:assets'
---

<Layout>
  <main class="flex-1">
    <div class="flex h-full flex-col items-start justify-center gap-9">
      <div class="relative flex items-center gap-6">
        <Decoration1
          aria-hidden="true"
          class="absolute -top-[80px] -left-[90px]"
        />
        <h1
          class="font-family-heading text-6xl font-black sm:text-7xl lg:text-8xl"
        >
          I'm Koen
        </h1>
        <Image
          src="https://fonts.gstatic.com/s/e/notoemoji/latest/1f44b/512.gif"
          aria-hidden="true"
          alt=""
          width="96"
          height="96"
          class="size-[60px] sm:size-[72px] lg:size-[96px]"
        />
      </div>
      <p class="text-2xl font-medium lg:text-3xl">
        I turn ideas and pixels into memorable experiences on the web.
      </p>
      <div class="flex flex-col gap-3 sm:flex-row">
        <Button href="https://www.euri.com/en/contact">work with me</Button>
        <Button
          href="https://www.linkedin.com/in/koen-vercauteren"
          variant="secondary"
        >
          let's connect
        </Button>
      </div>
    </div>
  </main>
</Layout>
