---
type Props = {
  text: string
  variant?: 'h1' | 'h2'
}

const { text, variant = 'h1' } = Astro.props
---

{
  variant === 'h1' && (
    <h1
      data-text={text}
      class="relative font-family-heading text-5xl sm:text-6xl"
    >
      {text}
    </h1>
  )
}
{
  variant === 'h2' && (
    <h2
      data-text={text}
      class="relative font-family-heading text-3xl sm:text-4xl"
    >
      {text}
    </h2>
  )
}

<style lang="scss">
  h1,
  h2 {
    background: linear-gradient(
      to bottom,
      #ebf1f6 0%,
      #abd3ee 50%,
      #859ee2 51%,
      #d5ebfb 100%
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &::before {
      background: none;
      content: attr(data-text);
      left: 0;
      position: absolute;
      text-shadow:
        1px -1px 0 rgba(255, 255, 255, 0.5),
        3px 1px 3px rgba(255, 0, 255, 0.85),
        -3px -2px 3px rgba(0, 0, 255, 0.85),
        1px -2px 0 rgba(255, 255, 255, 0.8);
      z-index: -1;
    }
  }
</style>
