---
import Marker from '@/assets/marker.svg'

type Props = {
  isActive: boolean
  href: string
}

const { isActive, href } = Astro.props
---

<li class="relative">
  <a
    {href}
    class="group relative z-10 flex items-center justify-center gap-1.5 font-medium"
  >
    <slot />
  </a>
  {isActive && <Marker aria-hidden="true" class="absolute inset-0 m-auto" />}
</li>
