---
import '@/styles/global.css'
import Navigation from '@/components/neobrutalism/navigation.astro'
import { ClientRouter } from 'astro:transitions'

const url = Astro.url
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Koen Vercauteren — Euricom</title>

    <ClientRouter />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-background">
    <div class="m-auto flex min-h-dvh max-w-5xl p-6 pb-25">
      <slot />
    </div>
    <div class="fixed bottom-3 z-50 flex w-full justify-center">
      <Navigation {url} />
    </div>
  </body>
</html>

<style>
  body {
    background-image: radial-gradient(rgba(0, 0, 0, 0.5) 1px, transparent 0);
    background-size: 40px 40px;
  }
</style>
