---
import '@/styles/global.css'
import Navigation from '@/components/retrowave/navigation.astro'
import { ClientRouter } from 'astro:transitions'

const url = Astro.url
---

<!doctype html>
<html lang="en" class="retrowave">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon-retrowave.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Koen Vercauteren — Euricom</title>

    <ClientRouter />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-background">
    <div class="m-auto flex min-h-dvh max-w-5xl p-6 pb-25">
      <slot />
    </div>
    <div class="fixed bottom-3 z-50 flex w-full justify-center">
      <Navigation {url} />
    </div>
  </body>
</html>
